body{
    background:url('/img/bg3.png') no-repeat;
     width: 100%;
    height: 100%; 
}

.cardawal{
    width:890px;
    height: 600px;
    border-radius: 2%;
    background-color:#fff;
    margin-top:50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 20px 20px 50px;            
}

.cardawal h2{
    margin-top:0px;
    color: #0E8C7F;
    font-size: 1.7em;
}

.cardawal button{
    font-size: 10px;
    background-color: black;
    color: #fff;
    margin-left: 600px;
    width:100px;
    height: 50px;
    border-radius: 50px;
}

.cardawal p{
    font-size: 1.5em;
    margin-left: 30px;
    margin-top: 20px;
}

.regisc label{
    color: #0E8C7F;
    font-weight: 200;
    font-size: 1.3em;
    margin-left: 60px;
}

.regisc input{
    font-size: 1em;
    margin-left: 50px;
    height: 40px;
    width: 300px;
    border-radius: 7px;
    border-color:  #0E8C7F;
    padding-left: 25px;
    color: #0E8C7F;
}

.data{
    font-size: 20px;
    margin-left: -100px;
    margin-top: -60px;
    display: inline-flex;
}
