.top-buffer { margin-top:20px; }

.top-buffer-extra { margin-top:40px; }

.bottom-buffer { margin-bottom:20px; }

.bottom-buffer-extra { margin-bottom:40px; }

.vertical-align {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.outline {
    background: lightgrey;
    border: 1px solid grey;
}
