.top-buffer { margin-top:20px; }

.top-buffer-extra { margin-top:40px; }

.bottom-buffer { margin-bottom:20px; }

.bottom-buffer-extra { margin-bottom:40px; }

.vertical-align {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.outline {
    background: lightgrey;
    border: 1px solid grey;
}

.green-btn{
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: #0E8C7F;
    border-color: #0E8C7F;
    border-radius: 20px;
    color: white;
}

.green-btn:hover{
    background-color: white;
    border-color: #0E8C7F;
    border-radius: 20px;
    color: #0E8C7F;
}

.green-invert-btn{
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: white;
    border-color: #0E8C7F;
    border-radius: 20px;
    color: #0E8C7F;
}

.green-invert-btn:hover{
    background-color: #0E8C7F;
    border-color: #0E8C7F;
    border-radius: 20px;
    color: white;
}

.purple-btn{
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: #3F3D56;
    border-color: #3F3D56;
    border-radius: 20px;
    color: white;
}

.purple-btn:hover{
    background-color: white;
    border-color: #3F3D56;
    border-radius: 20px;
    color: #3F3D56;
}

.purple-invert-btn{
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: white;
    border-color: #3F3D56;
    border-radius: 20px;
    color: #3F3D56;
}

.purple-invert-btn:hover{
    background-color: #3F3D56;
    border-color: #3F3D56;
    border-radius: 20px;
    color: white;
}

.dark-grey-btn{
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: #343A3F;
    border-color: #343A3F;
    border-radius: 20px;
    color: white;
}

.dark-grey-btn:hover{
    background-color: white;
    border-color: #343A3F;
    border-radius: 20px;
    color: #343A3F;
}

.red-btn{
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: #b22222;
    border-color: #b22222;
    border-radius: 20px;
    color: white;
}

.red-btn:hover{
    background-color: white;
    border-color: #b22222;
    border-radius: 20px;
    color: #b22222;
}
