.vertical-align {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
}

.purple-button {
-moz-border-radius:20px;
-webkit-border-radius:20px;
background-color:#3F3D56;
border:1px solid #3F3D56;
cursor:pointer;
color:#ffffff;
display:inline-block;
font-size:16px;
padding:10px 20px;
text-decoration:none;
}

a.purple-button a:hover {
background-color:#4d4a66;
text-decoration: none;
}

.green-button {
-moz-border-radius:20px;
-webkit-border-radius:20px;
background-color:#0E8C7F;
border:1px solid #0E8C7F;
color:#ffffff;
cursor:pointer;
display:inline-block;
font-size:16px;
padding:10px 31px;
text-decoration:none;
}

.green-button:hover {
background-color:#129c8c;
}

.green-button:active {
position:relative;
top:1px;
}

navbar-brand a{
color: #0E8C7F;
font-size: 100px;
}

.footer-bs {
background-color: #66CDAA;
padding: 60px 40px;
color: rgba(255,255,255,1.00);
margin-bottom: 20px;
border-bottom-right-radius: 6px;
border-top-left-radius: 0px;
border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}

.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

.gallery-wrap .img-big-wrap img {
height: 450px;
width: auto;
display: inline-block;
}

.emp-profile{
padding: 3%;
margin-top: 3%;
margin-bottom: 3%;
border-radius: 0.5rem;
background: #fff;
}

.profile-img{
text-align: center;
}

.profile-img img{
width: 70%;
height: 100%;
}

.profile-img .file {
position: relative;
overflow: hidden;
margin-top: -20%;
width: 70%;
border: none;
border-radius: 0;
font-size: 15px;
background: #212529b8;
}

.profile-img .file input {
position: absolute;
opacity: 0;
right: 0;
top: 0;
}

.profile-edit-btn{
border: none;
border-radius: 1.5rem;
width: 70%;
padding: 2%;
font-weight: 600;
color: #6c757d;
cursor: pointer;
}

.profile-work{
padding: 14%;
margin-top: -15%;
}

.profile-work p{
font-size: 12px;
color: #818182;
font-weight: 600;
margin-top: 10%;
}

ul{
margin:0;
padding:0;
list-style:none;
}

.padding-lg {
display: block;
padding-top: 10px;
padding-bottom: 10px;
}

.practice-area.padding-lg {
padding-bottom: 55px;
padding-top: 55px;
}

.practice-area .inner{
    border:1px solid #999999;
    text-align:center;
    margin-bottom:28px;
    padding:40px 25px;
}

.our-webcoderskull .cnt-block:hover {
box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
border: 0;
}

.practice-area .inner h3{
color:#3c3c3c;
font-size:24px;
font-weight:500;
font-family: 'Poppins', sans-serif;
padding: 10px 0;
}

.practice-area .inner img{
display:inline-block;
}

.our-webcoderskull{
background:  no-repeat center top / cover;
}

.our-webcoderskull .cnt-block{
float:left;
width:100%;
background:#66CDAA;
padding:30px 20px;
text-align:center;
border:2px solid #d5d5d5;
   margin: 0 0 28px;
}

.our-webcoderskull .cnt-block figure{
width:120px;
height:120px;
border-radius:100%;
display:inline-block;
margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img{
width:148px;
height:148px;
border-radius:100%;
}

.our-webcoderskull .cnt-block h3{
color:#2a2a2a;
font-size:15px;
font-weight:500;
padding:6px 0;
text-transform:uppercase;
}

.our-webcoderskull .cnt-block h3 a{
text-decoration:none;
color:#2a2a2a;
}

.our-webcoderskull .cnt-block h3 a:hover{
color:#337ab7;
}
