/* The sidebar menu */
.sidenav {
height: 100%; /* Full-height: remove this if you want "auto" height */
width: 250px; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
left: 0;
background-color: #f6f6f7; /* Black */
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px;
}

/* Custom horizontal divider for sidedav */
hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}

/* The navigation menu links */
.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
color: #818181;
display: block;
}

/* Non-disabled menu links */
.sidenav a.non-disabled{
color: #3f3d56;
font-size: 16px;
}

/* Disabled menu links */
.sidenav a.disabled {
font-size: 16px;
color: #358d7f;
pointer-events: none;
cursor: default;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #9997b5;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* Circular image frame */
.image-cropper {
margin: 6px 8px 6px 16px;
width: 85px;
height: 85px;
position: relative;
overflow: hidden;
border-radius: 50%;
}

img {
display: inline;
margin: 0 auto;
height: 100%;
width: auto;
}

.green-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color:#0E8C7F;
    border:1px solid #0E8C7F;
    color:#ffffff;
    cursor:pointer;
    display:inline-block;
    font-size:16px;
    text-decoration:none;
}

.red-button {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color:#B22222;
    border:1px solid #B22222;
    color:#ffffff;
    cursor:pointer;
    display:inline-block;
    font-size:16px;
    text-decoration:none;
}

.editp button{
    font-size: 10px;
    background-color:#0E8C7F;
    color: #fff;
    width:100px;
    height: 40px;
    border-radius: 50px;
    font-size: 1em;
}

.form-popup {
    display: none;
    overflow: auto;
    background-color:#fff;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-right: 500px;
    border-radius: 5px;
  }

.form-container {
    max-width: 300px;
    /* padding: 10px; */
    background-color: white;
}

.form-container label{
    margin-left: 0;
}

.form-container input[type=text], .form-container input[type=password], .form-container textarea {
    border-color: #0E8C7F;
    border-width: 1px;
    border-radius: 3px;
    width: 90%;
    height: 30px;
    margin: 5px;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #0E8C7F;
    color: white;
    /* padding: 16px 20px; */
    border: none;
    cursor: pointer;
    width: 100%;
    /* margin-bottom:10px; */
    opacity: 0.8;
}

.form-container .cancel {
    background-color: #0E8C7F;
}

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
