body {
  text-align: center;
}

.card{
    background-color:#fff;
    border-radius: 20px;
    box-shadow: 0 8px 19px rgba(109, 109, 109, 0.075), 0 4px 6px rgba(148, 148, 148, 0.3);
    flex: 1;
}

.available-status {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color:#3CB371;
    border:1px solid #3CB371;
    color:white;
    display:inline-block;
    font-size:16px;
    padding:10px 31px;
}

.unavailable-status {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color:#B22222;
    border:1px solid #B22222;
    color:white;
    display:inline-block;
    font-size:16px;
    padding:10px 31px;
}
